@import 'variables';

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
}

.btn {
  display: inline-block;
  outline: none;
  border: none;
  font-family: inherit;
  background-color: #bf2d2d;
  padding: 1rem 3rem;
  color: $color-white;
  transition: background-color 1s, transform 1s;
  &:hover, &:focus, &:active {
    background-color: #e24949;
  }
  &:active {
    transform: translateY(4px);
  }
  &-search {
    width: 23%;
  }
}